{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script> -->
    <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

    <script data-require="angular-route@1.6.2" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
    <script src='{% static "summary.js" %}'></script>

    <!-- <script src='/static/summary.js'></script> -->

    <!-- <script src="static/job-js/job.js"></script> -->

</head>

<body ng-app="SummaryApi">
    {% verbatim %}
    <div class="container" ng-controller="dataSummaryApi">
        <br><br><br>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" ng-click="search()">
                    Get the Summaries
                </button>
                <!-- {{data}} -->
            </div>
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" value="tech" ng-model="tech">
                        <input type="text" class="form-control" value="summary" ng-model="summary">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" ng-click="insert()">Save</button>
                </form>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2" ng-click="edit()">Edit</button>

        <div class="row" ng-if=data>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Summary</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="summary in data">
                        <th scope="row">{{$index+1}}{{summary.id}}</th>
                        <td>{{summary.tech}}</td>
                        <td>{{summary.summary}}</td>
                        <td>
                            <button type="submit" ng-click="edit(summary.id)" class="btn btn-primary mb-2">edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    {% endverbatim %}
</body>

</html>