<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="row">
            {% for job in jobs.all %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src={{job.image.url}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">job</h5>
                    <p class="card-text">{{job.summary}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>