{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script> -->
    <script data-require="angular.js@*" data-semver="4.0.0" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>

    <script data-require="angular-route@1.6.2" data-semver="1.5.8" src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
    <script src='{% static "jobs.js" %}'></script>
    <!-- <script src="static/job-js/job.js"></script> -->
</head>

<body>

    {% verbatim %}

    <div ng-app="jobsApi">
        <div class="container" ng-controller="jobsApiController">
            {{name}}
        </div>

        <div class="container" ng-controller="demoStack">
            {{person.name}} is {{person.age}} years old. <br> {{person}}
        </div>

        <div class="container" ng-controller="dataJobApi">
            <a ng-click="search()">Well</a>
            <div ng-repeat="jobs in data">

                Image:{{jobs.image}}
                <br> Summary:{{jobs.summary}}
            </div>
        </div>
    </div>
    {% endverbatim %}

</body>


</html>